doctype html
html
	head
		title wheretonight | What's going on tonight?
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
		link(href="https://fonts.googleapis.com/css?family=Nunito:600", rel="stylesheet")
		link(href='/public/css/main.css', rel='stylesheet', type='text/css')
	body
		#welcome
			h2
				| wheretonight?
			.welcome-container.text-center
				h1.h1-pad 
					| Search for bars around your area
				a.menu(href='https://github.com/mishellscripts/where-tonight') View source code
				if user
					a.menu(href='/logout') Log out
				else
					a.menu(href='/auth/github') Login with Github
		.container
			.row#prompt
				form(method='post', id='search-form')
					h1 Enter your location 
					input(type='text', name='location', placeholder='Enter your location here')
					button(id="btn-search")
						| Find
			if bars
				h1.text-center Bars in #{bars[0].location.city}
				each bar, index in bars
					.row.bar-row
						.col-md-4
						.bar.col-md-4 
							.bar-description
								.rsvp(barid=bar.id)
									p(class='rsvp-value')
									i(class="fa fa-envelope-open send-rsvp" aria-hidden="true")
								a(href=bar.url class="bar-url")
									h4 #{bar.name}
								p #{bar.location.display_address}
								a(href=bar.url class="bar-url")
									- var baseRating = Math.floor(bar.rating)
									- for (var i = 0; i < baseRating; ++i) {
										i(class="fa fa-star" aria-hidden="true")
									- }
									- if (Math.round(bar.rating) != baseRating) {
										i(class="fa fa-star-half-o" aria-hidden="true")
									- }
						.col-md-4
			.row#credits
				p Coded by mishellscripts | Powered by Yelp
	script(src='https://code.jquery.com/jquery-2.2.1.min.js', integrity='sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=', crossorigin='anonymous')
	script(src='https://use.fontawesome.com/82d62de1e5.js')
	script(type='text/javascript').
		var user = JSON.parse('!{JSON.stringify(user)}');
	script(type='text/javascript', src='/public/js/main.js')
	script(type="text/javascript" src="common/ajax-functions.js")
	script(type="text/javascript" src="controllers/rsvpController.client.js")